<launch>

  <rosparam ns="/robot_gui">
     maxLinearSpeed: 0.5
     maxAngularSpeed: 2.0
     videoTopic: /usb_cam/image_raw
  </rosparam>

  <node name="mini_httpd" pkg="rbx2_gui" type="mini-httpd.sh" output="screen" />

  <node name="web_video_server" pkg="web_video_server" type="web_video_server" output="screen">
     <param name="port" value="8080" />
  </node>
 
  <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
  
</launch>
